<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>path</key>
			<string>50percentoff-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>path</key>
			<string>alien-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>path</key>
			<string>anonymous-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>path</key>
			<string>banana-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>path</key>
			<string>bomb-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>path</key>
			<string>book-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>path</key>
			<string>bowl-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>path</key>
			<string>box-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>path</key>
			<string>camera-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>path</key>
			<string>carrot-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>path</key>
			<string>chatting-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>path</key>
			<string>chatting2-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>path</key>
			<string>cheerleader-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>path</key>
			<string>clayfigure-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>path</key>
			<string>clock-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>path</key>
			<string>combo-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>path</key>
			<string>couple-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>path</key>
			<string>crab-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>path</key>
			<string>cream-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>path</key>
			<string>dice-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>path</key>
			<string>dk-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>path</key>
			<string>dog-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>path</key>
			<string>drink-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>path</key>
			<string>elephant-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>path</key>
			<string>exercise-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>path</key>
			<string>exit-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>path</key>
			<string>fire-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>28</integer>
			<key>path</key>
			<string>fish-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>path</key>
			<string>fishborn-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>30</integer>
			<key>path</key>
			<string>forkknife-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>path</key>
			<string>ghost-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>path</key>
			<string>glasses-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>path</key>
			<string>handshake-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>path</key>
			<string>headache-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>35</integer>
			<key>path</key>
			<string>honeybee-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>36</integer>
			<key>path</key>
			<string>jackinthebox-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>37</integer>
			<key>path</key>
			<string>jk-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>38</integer>
			<key>path</key>
			<string>kilroy-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>39</integer>
			<key>path</key>
			<string>leaf-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>40</integer>
			<key>path</key>
			<string>like-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>41</integer>
			<key>path</key>
			<string>loveletter-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>42</integer>
			<key>path</key>
			<string>mail-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>43</integer>
			<key>path</key>
			<string>manager-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>44</integer>
			<key>path</key>
			<string>marker-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>45</integer>
			<key>path</key>
			<string>monkey-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>46</integer>
			<key>path</key>
			<string>moviecamera-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>47</integer>
			<key>path</key>
			<string>music-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>48</integer>
			<key>path</key>
			<string>mysteriousman-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>49</integer>
			<key>path</key>
			<string>octopus-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>50</integer>
			<key>path</key>
			<string>panda-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>51</integer>
			<key>path</key>
			<string>people-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>52</integer>
			<key>path</key>
			<string>pirateflag-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>53</integer>
			<key>path</key>
			<string>present-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>54</integer>
			<key>path</key>
			<string>president-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>55</integer>
			<key>path</key>
			<string>punkman-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>57</integer>
			<key>path</key>
			<string>puzzle-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>58</integer>
			<key>path</key>
			<string>rainy-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>59</integer>
			<key>path</key>
			<string>rocket-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>60</integer>
			<key>path</key>
			<string>setting-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>61</integer>
			<key>path</key>
			<string>shoppingcart-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>62</integer>
			<key>path</key>
			<string>shrimp-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>63</integer>
			<key>path</key>
			<string>sleepy-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>64</integer>
			<key>path</key>
			<string>smartphone-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>65</integer>
			<key>path</key>
			<string>sportsshoes-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>66</integer>
			<key>path</key>
			<string>squid-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>67</integer>
			<key>path</key>
			<string>target-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>68</integer>
			<key>path</key>
			<string>telepathy-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>69</integer>
			<key>path</key>
			<string>timerbomb-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>70</integer>
			<key>path</key>
			<string>tobacco-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>71</integer>
			<key>path</key>
			<string>trump-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>72</integer>
			<key>path</key>
			<string>umbrella-min.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>73</integer>
			<key>path</key>
			<string>vocal-min.png</string>
		</dict>
	</array>
</dict>
</plist>
